<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Mohl</string>
	<key>Builder Version</key>
	<string>11601.7.7</string>
	<key>CFBundleDisplayName</key>
	<string>Omnifari</string>
	<key>CFBundleIdentifier</key>
	<string>cx.dave.omnifari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>sendLinkToOmnifocus</string>
				<key>Identifier</key>
				<string>omnifariContext</string>
				<key>Title</key>
				<string>Send to Omnifocus</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>sendPageToOmnifocus</string>
				<key>Identifier</key>
				<string>omnifariButton</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Omnifari</string>
				<key>Palette Label</key>
				<string>Send to Omnifocus</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>worker.js</string>
			</array>
		</dict>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
